*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 115vh;
    font-family: 'Open Sans', sans-serif;
} 

.btn{
    text-align: center;
}
.click-here{
    color: rgb(120, 255, 120);
}
.content{
   height: 100%;
   width: 100%;
   display: flex; 
   justify-content: center;
   color: #fff;
}
.contact-link{
    color: #fff;
}
.contact{
    position: absolute;
    right: 5rem;
    top: 2rem;
    
}
.data{
    position: relative;
    width: 90%;
    top: 3rem;
    
}
.goals{
    position: relative;
    left: 6rem;
    bottom: 1rem;
    width: 80%;
}
.heading{
    text-align: center;
    font-size: 2.2rem;
    
}
.issue{
    position: relative;
    top: 5rem;
}
.logo{
   position: relative;
    display: inline-block;
    text-align: left;
    font-size: small;
    height: auto;
    left: 2rem;
    width: 60%;
    top: 2ex;
    color: rgb(204, 204, 204);
}

.myButton {
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #4a86f7 5%, #0063dd 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
    position: relative;
    top: 7rem;
    
}
.myButton:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}

.objectives{
    position: relative;
    left: 15rem;
    text-align: left;
    width: 80%;
    line-height: 1.6;
    margin-top: 2rem;
}
.obj{
    font-weight: bolder;
}
.objective-text{
    position: relative;
    left: 9%;
    font-size: 2ex;
}

span{
    margin-right: 1rem;
}
.top{
    position: relative;
    display: block;
    width: 100%;
    height: 10%;
}
@media (max-width: 767px) {
    .objectives{
      line-height: 1.2;
      left: 10%;
    }
    .data{
        top:2rem;
    }
    .myButton{
        top: 4.1rem;
    }
    .objective-text{
        left: 15%;
    }
    .heading{
        right: 1rem;
        font-size: 3.5ex;
    }
    .logo{
        font-size: x-small;
    }
    .contact{
        top:1rem;
        right:1.5rem;
    }
    .obj{
        margin-bottom: 1rem;
        margin-top: .3rem;
    }
    .goals{
        left: 4rem;
        font-size: 1.5ex;
    }
    body{
        height: 130vh;
    }
  }
